#pokemon-logo{
    max-width: 10%;
    position: relative;
    left: 45%;
    margin-top: 1%;
    margin-bottom: 1%;
}

img.pokemonSprite:hover {
        filter: drop-shadow(8px 8px 0px #007ce29d);
        cursor:pointer;
        -webkit-transition: filter 0.1s ease-in;
        -moz-transition: filter 0.1s ease-in;
        -o-transition: filter 0.1s ease-in;
}

#pokemonSprites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    
}

header{
    background-color: rgb(247,247,247);
    width: 100%;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
  }