#pokemon-logo{
    max-width: 15%;
    position: relative;
    left: 45%

}

img.pokemonSprite:hover {
        filter: drop-shadow(8px 8px 0px #007ce29d);
        cursor:pointer;
        -webkit-transition: filter 0.1s ease-in;
        -moz-transition: filter 0.1s ease-in;
        -o-transition: filter 0.1s ease-in;
}

#pokemonSprites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
